body {
    background: url(../image/fone.jpg);
    /*margin:0 auto;*/
    margin-left: 5%;
    margin-right: 10%;
    color: white;
}
strike, .ref {
    text-decoration: none;
}    
a {
    color: white;
}
input.hall-check {
    right: 5%;
    /* vertical-align: middle; */
    /* float: right; */
    /* margin-right: 0; */
    display: inline-block;
    position: absolute;
    transform: scale(1.5)
}
button, select {
  margin: 1ex;
  /*color: #3D1108;*/
  background-color: whitesmoke;
}
.hall {
    padding-top: 1ex;
    padding-bottom: 1ex;
}
.hall.odd0 {
  background-color: bisque;
}
.hall.odd0 > a{
  color: black;
}
img#startimg{
    width: 60px;
    height: 20px;
}