.regions-wrapper
  %select{'id': 'region'}
    - @regions.forEach (region) ->
      %option{'value': "#{region.id}"}
        #{region.name}
  %button#start
    %img#startimg{ src = 'image/start.png' }
